<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isText</key>
	<true/>
	<key>name</key>
	<string>face</string>
	<key>icon</key>
	<string>icon@2x</string>
	<key>faces</key>
	<array>
		<dict>
			<key>file</key>
			<string>0</string>
			<key>key</key>
			<string>[0]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>1</string>
			<key>key</key>
			<string>[1]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>2</string>
			<key>key</key>
			<string>[2]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>3</string>
			<key>key</key>
			<string>[3]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>4</string>
			<key>key</key>
			<string>[4]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>5</string>
			<key>key</key>
			<string>[5]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>6</string>
			<key>key</key>
			<string>[6]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>7</string>
			<key>key</key>
			<string>[7]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>8</string>
			<key>key</key>
			<string>[8]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>9</string>
			<key>key</key>
			<string>[9]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>10</string>
			<key>key</key>
			<string>[10]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>11</string>
			<key>key</key>
			<string>[11]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>12</string>
			<key>key</key>
			<string>[12]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>13</string>
			<key>key</key>
			<string>[13]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>14</string>
			<key>key</key>
			<string>[14]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>15</string>
			<key>key</key>
			<string>[15]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>16</string>
			<key>key</key>
			<string>[16]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>18</string>
			<key>key</key>
			<string>[18]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>19</string>
			<key>key</key>
			<string>[19]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>20</string>
			<key>key</key>
			<string>[20]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>21</string>
			<key>key</key>
			<string>[21]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>22</string>
			<key>key</key>
			<string>[22]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>23</string>
			<key>key</key>
			<string>[23]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>24</string>
			<key>key</key>
			<string>[24]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>25</string>
			<key>key</key>
			<string>[25]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>26</string>
			<key>key</key>
			<string>[26]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>27</string>
			<key>key</key>
			<string>[27]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>28</string>
			<key>key</key>
			<string>[28]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>29</string>
			<key>key</key>
			<string>[29]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>30</string>
			<key>key</key>
			<string>[30]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>31</string>
			<key>key</key>
			<string>[31]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>32</string>
			<key>key</key>
			<string>[32]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>33</string>
			<key>key</key>
			<string>[33]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>34</string>
			<key>key</key>
			<string>[34]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>35</string>
			<key>key</key>
			<string>[35]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>36</string>
			<key>key</key>
			<string>[36]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>37</string>
			<key>key</key>
			<string>[37]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>38</string>
			<key>key</key>
			<string>[38]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>39</string>
			<key>key</key>
			<string>[39]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>41</string>
			<key>key</key>
			<string>[41]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>42</string>
			<key>key</key>
			<string>[42]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>43</string>
			<key>key</key>
			<string>[43]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>46</string>
			<key>key</key>
			<string>[46]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>49</string>
			<key>key</key>
			<string>[49]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>53</string>
			<key>key</key>
			<string>[53]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>54</string>
			<key>key</key>
			<string>[54]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>55</string>
			<key>key</key>
			<string>[55]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>56</string>
			<key>key</key>
			<string>[56]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>57</string>
			<key>key</key>
			<string>[57]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>59</string>
			<key>key</key>
			<string>[59]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>60</string>
			<key>key</key>
			<string>[60]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>61</string>
			<key>key</key>
			<string>[61]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>62</string>
			<key>key</key>
			<string>[62]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>63</string>
			<key>key</key>
			<string>[63]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>64</string>
			<key>key</key>
			<string>[64]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>66</string>
			<key>key</key>
			<string>[66]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>67</string>
			<key>key</key>
			<string>[67]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>69</string>
			<key>key</key>
			<string>[69]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>72</string>
			<key>key</key>
			<string>[72]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>74</string>
			<key>key</key>
			<string>[74]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>75</string>
			<key>key</key>
			<string>[75]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>76</string>
			<key>key</key>
			<string>[76]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>77</string>
			<key>key</key>
			<string>[77]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>78</string>
			<key>key</key>
			<string>[78]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>79</string>
			<key>key</key>
			<string>[79]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>85</string>
			<key>key</key>
			<string>[85]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>86</string>
			<key>key</key>
			<string>[86]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>89</string>
			<key>key</key>
			<string>[89]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>90</string>
			<key>key</key>
			<string>[90]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>91</string>
			<key>key</key>
			<string>[91]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>96</string>
			<key>key</key>
			<string>[96]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>97</string>
			<key>key</key>
			<string>[97]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>98</string>
			<key>key</key>
			<string>[98]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>99</string>
			<key>key</key>
			<string>[99]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>100</string>
			<key>key</key>
			<string>[100]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>101</string>
			<key>key</key>
			<string>[101]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>102</string>
			<key>key</key>
			<string>[102]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>103</string>
			<key>key</key>
			<string>[103]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>104</string>
			<key>key</key>
			<string>[104]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>105</string>
			<key>key</key>
			<string>[105]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>106</string>
			<key>key</key>
			<string>[106]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>107</string>
			<key>key</key>
			<string>[107]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>108</string>
			<key>key</key>
			<string>[108]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>109</string>
			<key>key</key>
			<string>[109]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>110</string>
			<key>key</key>
			<string>[110]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>111</string>
			<key>key</key>
			<string>[111]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>112</string>
			<key>key</key>
			<string>[112]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>113</string>
			<key>key</key>
			<string>[113]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>114</string>
			<key>key</key>
			<string>[114]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>115</string>
			<key>key</key>
			<string>[115]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>116</string>
			<key>key</key>
			<string>[116]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>117</string>
			<key>key</key>
			<string>[117]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>118</string>
			<key>key</key>
			<string>[118]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>119</string>
			<key>key</key>
			<string>[119]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>120</string>
			<key>key</key>
			<string>[120]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>121</string>
			<key>key</key>
			<string>[121]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>122</string>
			<key>key</key>
			<string>[122]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>123</string>
			<key>key</key>
			<string>[123]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>124</string>
			<key>key</key>
			<string>[124]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>125</string>
			<key>key</key>
			<string>[125]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>126</string>
			<key>key</key>
			<string>[126]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>127</string>
			<key>key</key>
			<string>[127]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>128</string>
			<key>key</key>
			<string>[128]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>129</string>
			<key>key</key>
			<string>[129]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>130</string>
			<key>key</key>
			<string>[130]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>131</string>
			<key>key</key>
			<string>[131]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>132</string>
			<key>key</key>
			<string>[132]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>133</string>
			<key>key</key>
			<string>[133]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>134</string>
			<key>key</key>
			<string>[134]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>136</string>
			<key>key</key>
			<string>[136]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>137</string>
			<key>key</key>
			<string>[137]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>138</string>
			<key>key</key>
			<string>[138]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>139</string>
			<key>key</key>
			<string>[139]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>140</string>
			<key>key</key>
			<string>[140]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>141</string>
			<key>key</key>
			<string>[141]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>142</string>
			<key>key</key>
			<string>[142]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>143</string>
			<key>key</key>
			<string>[143]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>144</string>
			<key>key</key>
			<string>[144]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>145</string>
			<key>key</key>
			<string>[145]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>146</string>
			<key>key</key>
			<string>[146]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>147</string>
			<key>key</key>
			<string>[147]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>148</string>
			<key>key</key>
			<string>[148]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>149</string>
			<key>key</key>
			<string>[149]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>150</string>
			<key>key</key>
			<string>[150]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>151</string>
			<key>key</key>
			<string>[151]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>152</string>
			<key>key</key>
			<string>[152]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>153</string>
			<key>key</key>
			<string>[153]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>154</string>
			<key>key</key>
			<string>[154]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>155</string>
			<key>key</key>
			<string>[155]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>156</string>
			<key>key</key>
			<string>[156]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>157</string>
			<key>key</key>
			<string>[157]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>158</string>
			<key>key</key>
			<string>[158]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>159</string>
			<key>key</key>
			<string>[159]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>160</string>
			<key>key</key>
			<string>[160]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>161</string>
			<key>key</key>
			<string>[161]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>162</string>
			<key>key</key>
			<string>[162]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>163</string>
			<key>key</key>
			<string>[163]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>164</string>
			<key>key</key>
			<string>[164]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>165</string>
			<key>key</key>
			<string>[165]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>166</string>
			<key>key</key>
			<string>[166]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>167</string>
			<key>key</key>
			<string>[167]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>168</string>
			<key>key</key>
			<string>[168]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>169</string>
			<key>key</key>
			<string>[169]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>170</string>
			<key>key</key>
			<string>[170]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>171</string>
			<key>key</key>
			<string>[171]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>172</string>
			<key>key</key>
			<string>[172]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>173</string>
			<key>key</key>
			<string>[173]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>174</string>
			<key>key</key>
			<string>[174]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>175</string>
			<key>key</key>
			<string>[175]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>176</string>
			<key>key</key>
			<string>[176]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>177</string>
			<key>key</key>
			<string>[177]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>178</string>
			<key>key</key>
			<string>[178]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>179</string>
			<key>key</key>
			<string>[179]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>180</string>
			<key>key</key>
			<string>[180]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>181</string>
			<key>key</key>
			<string>[181]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>182</string>
			<key>key</key>
			<string>[182]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>183</string>
			<key>key</key>
			<string>[183]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>184</string>
			<key>key</key>
			<string>[184]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>185</string>
			<key>key</key>
			<string>[185]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>186</string>
			<key>key</key>
			<string>[186]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>187</string>
			<key>key</key>
			<string>[187]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>188</string>
			<key>key</key>
			<string>[188]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>189</string>
			<key>key</key>
			<string>[189]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>190</string>
			<key>key</key>
			<string>[190]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>191</string>
			<key>key</key>
			<string>[191]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>192</string>
			<key>key</key>
			<string>[192]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>193</string>
			<key>key</key>
			<string>[193]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>194</string>
			<key>key</key>
			<string>[194]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>197</string>
			<key>key</key>
			<string>[197]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>198</string>
			<key>key</key>
			<string>[198]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>199</string>
			<key>key</key>
			<string>[199]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>200</string>
			<key>key</key>
			<string>[200]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>201</string>
			<key>key</key>
			<string>[201]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>202</string>
			<key>key</key>
			<string>[202]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>203</string>
			<key>key</key>
			<string>[203]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>204</string>
			<key>key</key>
			<string>[204]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>205</string>
			<key>key</key>
			<string>[205]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>206</string>
			<key>key</key>
			<string>[206]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>207</string>
			<key>key</key>
			<string>[207]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>208</string>
			<key>key</key>
			<string>[208]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>210</string>
			<key>key</key>
			<string>[210]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>211</string>
			<key>key</key>
			<string>[211]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>212</string>
			<key>key</key>
			<string>[212]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>214</string>
			<key>key</key>
			<string>[214]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>215</string>
			<key>key</key>
			<string>[215]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>216</string>
			<key>key</key>
			<string>[216]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>217</string>
			<key>key</key>
			<string>[217]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>218</string>
			<key>key</key>
			<string>[218]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>219</string>
			<key>key</key>
			<string>[219]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>220</string>
			<key>key</key>
			<string>[220]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>221</string>
			<key>key</key>
			<string>[221]</string>
		</dict>
	</array>
</dict>
</plist>
