<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>faces</key>
	<array>
		<dict>
			<key>file</key>
			<string>emoji128512</string>
			<key>key</key>
			<string>[128512]</string>
			<key>name</key>
			<string>😀</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128513</string>
			<key>key</key>
			<string>[128513]</string>
			<key>name</key>
			<string>😁</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128514</string>
			<key>key</key>
			<string>[128514]</string>
			<key>name</key>
			<string>😂</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128515</string>
			<key>key</key>
			<string>[128515]</string>
			<key>name</key>
			<string>😃</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128516</string>
			<key>key</key>
			<string>[128516]</string>
			<key>name</key>
			<string>😄</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128517</string>
			<key>key</key>
			<string>[128517]</string>
			<key>name</key>
			<string>😅</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128518</string>
			<key>key</key>
			<string>[128518]</string>
			<key>name</key>
			<string>😆</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128519</string>
			<key>key</key>
			<string>[128519]</string>
			<key>name</key>
			<string>😇</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128520</string>
			<key>key</key>
			<string>[128520]</string>
			<key>name</key>
			<string>😈</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128521</string>
			<key>key</key>
			<string>[128521]</string>
			<key>name</key>
			<string>😉</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128522</string>
			<key>key</key>
			<string>[128522]</string>
			<key>name</key>
			<string>😊</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128523</string>
			<key>key</key>
			<string>[128523]</string>
			<key>name</key>
			<string>😋</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128524</string>
			<key>key</key>
			<string>[128524]</string>
			<key>name</key>
			<string>😌</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128525</string>
			<key>key</key>
			<string>[128525]</string>
			<key>name</key>
			<string>😍</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128526</string>
			<key>key</key>
			<string>[128526]</string>
			<key>name</key>
			<string>😎</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128527</string>
			<key>key</key>
			<string>[128527]</string>
			<key>name</key>
			<string>😏</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128528</string>
			<key>key</key>
			<string>[128528]</string>
			<key>name</key>
			<string>😐</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128529</string>
			<key>key</key>
			<string>[128529]</string>
			<key>name</key>
			<string>😑</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128530</string>
			<key>key</key>
			<string>[128530]</string>
			<key>name</key>
			<string>😒</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128531</string>
			<key>key</key>
			<string>[128531]</string>
			<key>name</key>
			<string>😓</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128532</string>
			<key>key</key>
			<string>[128532]</string>
			<key>name</key>
			<string>😔</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128533</string>
			<key>key</key>
			<string>[128533]</string>
			<key>name</key>
			<string>😕</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128534</string>
			<key>key</key>
			<string>[128534]</string>
			<key>name</key>
			<string>😖</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128535</string>
			<key>key</key>
			<string>[128535]</string>
			<key>name</key>
			<string>😗</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128536</string>
			<key>key</key>
			<string>[128536]</string>
			<key>name</key>
			<string>😘</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128537</string>
			<key>key</key>
			<string>[128537]</string>
			<key>name</key>
			<string>😙</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128538</string>
			<key>key</key>
			<string>[128538]</string>
			<key>name</key>
			<string>😚</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128539</string>
			<key>key</key>
			<string>[128539]</string>
			<key>name</key>
			<string>😛</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128540</string>
			<key>key</key>
			<string>[128540]</string>
			<key>name</key>
			<string>😜</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128541</string>
			<key>key</key>
			<string>[128541]</string>
			<key>name</key>
			<string>😝</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128542</string>
			<key>key</key>
			<string>[128542]</string>
			<key>name</key>
			<string>😞</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128543</string>
			<key>key</key>
			<string>[128543]</string>
			<key>name</key>
			<string>😟</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128544</string>
			<key>key</key>
			<string>[128544]</string>
			<key>name</key>
			<string>😠</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128545</string>
			<key>key</key>
			<string>[128545]</string>
			<key>name</key>
			<string>😡</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128546</string>
			<key>key</key>
			<string>[128546]</string>
			<key>name</key>
			<string>😢</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128547</string>
			<key>key</key>
			<string>[128547]</string>
			<key>name</key>
			<string>😣</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128548</string>
			<key>key</key>
			<string>[128548]</string>
			<key>name</key>
			<string>😤</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128549</string>
			<key>key</key>
			<string>[128549]</string>
			<key>name</key>
			<string>😥</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128550</string>
			<key>key</key>
			<string>[128550]</string>
			<key>name</key>
			<string>😦</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128551</string>
			<key>key</key>
			<string>[128551]</string>
			<key>name</key>
			<string>😧</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128552</string>
			<key>key</key>
			<string>[128552]</string>
			<key>name</key>
			<string>😨</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128553</string>
			<key>key</key>
			<string>[128553]</string>
			<key>name</key>
			<string>😩</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128554</string>
			<key>key</key>
			<string>[128554]</string>
			<key>name</key>
			<string>😪</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128555</string>
			<key>key</key>
			<string>[128555]</string>
			<key>name</key>
			<string>😫</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128556</string>
			<key>key</key>
			<string>[128556]</string>
			<key>name</key>
			<string>😬</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128557</string>
			<key>key</key>
			<string>[128557]</string>
			<key>name</key>
			<string>😭</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128558</string>
			<key>key</key>
			<string>[128558]</string>
			<key>name</key>
			<string>😮</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128559</string>
			<key>key</key>
			<string>[128559]</string>
			<key>name</key>
			<string>😯</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128560</string>
			<key>key</key>
			<string>[128560]</string>
			<key>name</key>
			<string>😰</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128561</string>
			<key>key</key>
			<string>[128561]</string>
			<key>name</key>
			<string>😱</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128562</string>
			<key>key</key>
			<string>[128562]</string>
			<key>name</key>
			<string>😲</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128563</string>
			<key>key</key>
			<string>[128563]</string>
			<key>name</key>
			<string>😳</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128564</string>
			<key>key</key>
			<string>[128564]</string>
			<key>name</key>
			<string>😴</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128565</string>
			<key>key</key>
			<string>[128565]</string>
			<key>name</key>
			<string>😵</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128566</string>
			<key>key</key>
			<string>[128566]</string>
			<key>name</key>
			<string>😶</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128567</string>
			<key>key</key>
			<string>[128567]</string>
			<key>name</key>
			<string>😷</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128568</string>
			<key>key</key>
			<string>[128568]</string>
			<key>name</key>
			<string>😸</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128569</string>
			<key>key</key>
			<string>[128569]</string>
			<key>name</key>
			<string>😹</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128570</string>
			<key>key</key>
			<string>[128570]</string>
			<key>name</key>
			<string>😺</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128571</string>
			<key>key</key>
			<string>[128571]</string>
			<key>name</key>
			<string>😻</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128572</string>
			<key>key</key>
			<string>[128572]</string>
			<key>name</key>
			<string>😼</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128573</string>
			<key>key</key>
			<string>[128573]</string>
			<key>name</key>
			<string>😽</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128574</string>
			<key>key</key>
			<string>[128574]</string>
			<key>name</key>
			<string>😾</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128575</string>
			<key>key</key>
			<string>[128575]</string>
			<key>name</key>
			<string>😿</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128576</string>
			<key>key</key>
			<string>[128576]</string>
			<key>name</key>
			<string>🙀</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128581</string>
			<key>key</key>
			<string>[128581]</string>
			<key>name</key>
			<string>🙅</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128582</string>
			<key>key</key>
			<string>[128582]</string>
			<key>name</key>
			<string>🙆</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128583</string>
			<key>key</key>
			<string>[128583]</string>
			<key>name</key>
			<string>🙇</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128584</string>
			<key>key</key>
			<string>[128584]</string>
			<key>name</key>
			<string>🙈</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128585</string>
			<key>key</key>
			<string>[128585]</string>
			<key>name</key>
			<string>🙉</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128586</string>
			<key>key</key>
			<string>[128586]</string>
			<key>name</key>
			<string>🙊</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128587</string>
			<key>key</key>
			<string>[128587]</string>
			<key>name</key>
			<string>🙋</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128588</string>
			<key>key</key>
			<string>[128588]</string>
			<key>name</key>
			<string>🙌</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128589</string>
			<key>key</key>
			<string>[128589]</string>
			<key>name</key>
			<string>🙍</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128590</string>
			<key>key</key>
			<string>[128590]</string>
			<key>name</key>
			<string>🙎</string>
		</dict>
		<dict>
			<key>file</key>
			<string>emoji128591</string>
			<key>key</key>
			<string>[128591]</string>
			<key>name</key>
			<string>🙏</string>
		</dict>
	</array>
	<key>icon</key>
	<string>icon@2x</string>
	<key>isText</key>
	<true/>
	<key>name</key>
	<string>emoji</string>
</dict>
</plist>
