<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isText</key>
	<false/>
	<key>name</key>
	<string>face</string>
	<key>icon</key>
	<string>icon@2x</string>
	<key>faces</key>
	<array>
		<dict>
			<key>file</key>
			<string>0</string>
			<key>key</key>
			<string>[0]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>1</string>
			<key>key</key>
			<string>[1]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>2</string>
			<key>key</key>
			<string>[2]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>3</string>
			<key>key</key>
			<string>[3]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>4</string>
			<key>key</key>
			<string>[4]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>5</string>
			<key>key</key>
			<string>[5]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>6</string>
			<key>key</key>
			<string>[6]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>7</string>
			<key>key</key>
			<string>[7]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>8</string>
			<key>key</key>
			<string>[8]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>9</string>
			<key>key</key>
			<string>[9]</string>
		</dict>
		<dict>
			<key>file</key>
			<string>10</string>
			<key>key</key>
			<string>[10]</string>
		</dict>
	</array>
</dict>
</plist>
